# IDE: IntelliJ IDEA
/.idea/
/*.iws
/*.iml
/*.ipr

# General
/.bak/
/.cache/
/.generated/
/.local/
/.run/
/.tmp/
/.tmp-*/
/.env
/*@tmp
/snyk.json
/snyk.sarif

# Node.js
/build/
/coverage/
/node_modules/
